<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Results</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

    <div class="container">
        <div class="p-5">
            <form method="post" class="border w-50 mx-auto">
                <div class="text-center">
                    <h3 class="">Student Results</h3><hr class="w-50 m-auto">
                    <p class="text-danger text-start ps-3 pt-3">*Please Enter the data</p>
                </div>
                <div class="p-3">
                    <div class="p-3"> 
                        <label for="" class="form-label">RNO</label>
                        <input type="text" name="rno" class="form-control">
                    </div>
                    <div class="p-3"> 
                        <label for="" class="form-label">NAME</label>
                        <input type="text" name="name" class="form-control">
                    </div>
                    <div class="p-3"> 
                        <label for="" class="form-label">Subject 1 Marks</label>
                        <input type="text" name="sub_1" class="form-control">
                    </div>
                    <div class="p-3"> 
                        <label for="" class="form-label">Subject 2 Marks</label>
                        <input type="text" name="sub_2" class="form-control">
                    </div>
                    <div class="p-3"> 
                        <label for="" class="form-label">Subject 3 Marks</label>
                        <input type="text" name="sub_3" class="form-control">
                    </div>
                    <div class="p-3"> 
                        <label for="" class="form-label">Subject 4 Marks</label>
                        <input type="text" name="sub_4" class="form-control">
                    </div>
                    <div class="p-3"> 
                        <label for="" class="form-label">Subject 5 Marks</label>
                        <input type="text" name="sub_5" class="form-control">
                    </div>
                    <div class="p-3">
                        <input type="submit" name="save" value="Insert" class="btn btn-success border">
                    </div>

                </div>
            </form>
        </div>
    </div>

</body>

</html>